@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

/* Non serve flex su navbar né height fissa! */
.navbar-brand {
  display: flex;
  align-items: center;
  /* gap: 0px; */
}

.navbar-logo {
  height: 56px;
  width: auto;
}


.nav-link:hover, .nav-link.fw-semibold:hover{
  color: #B73DA0;;
}

.nav-link.fw-semibold{
  color: white;
}

/* Nascondi/mostra testo brand in responsive */
.brand-text.desktop { display: inline;   font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;}
.brand-text.mobile { display: none;   font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;}

@media (max-width: 450px) {
  .brand-text.desktop { display: none; }
  .brand-text.mobile { display: inline; }
  .navbar-search-form { display: none; }
}

/* Searchbar input min width */
.navbar-search-form input {
  min-width: 160px;
}