@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

/* Brand styles */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 56px;
  width: auto;
}

/* Nav link styles */
.nav-link:hover, .nav-link.fw-semibold:hover {
  color: #B73DA0;;
}

.nav-link.fw-semibold {
  color: white;
}

/* Highlight the active nav link */
.nav-link.nav-active {
  color: #B73DA0 !important;
  font-weight: bold !important;
}

/* Cart icon styles */
.nav-cart-icon {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-cart-icon.nav-active {
  color: #B73DA0 !important;
}

.nav-cart-icon:hover {
  color: #B73DA0;
}

/* Hide/show brand text responsive */
.brand-text.desktop {
  display: inline;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.brand-text.mobile {
  display: none;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 450px) {
  .brand-text.desktop { display: none; }
  .brand-text.mobile { display: inline; }
  .navbar-search-form { display: none; }
}

/* Searchbar input min width */
.navbar-search-form input {
  min-width: 160px;
}